/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-text-color: #353430;
  --section-title-text-color: #353430;
  --slogo-text-color: #ffc2e6;
  --slogo-text-shadow-color: #ff8dcb;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --link-shadow-color: #ff8dcb;
}

.theme_light .header__decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-text-color: #353430;
    --section-title-text-color: #353430;
    --slogo-text-color: #ffc2e6;
    --slogo-text-shadow-color: #ff8dcb;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --link-shadow-color: #ff8dcb;
  }

  .header__decorated {
    display: none;
  }
}

@media (width >= 1024px) and (prefers-color-scheme: light) {
  :root {
    --slogo-text-shadow-color: #ff0070;
  }
}

@media (width >= 1024px) {
  .page.theme_light {
    --slogo-text-shadow-color: #ff0070;
  }
}
