.page {
  font-family: var(--main-font, "IMB Plex mono", mono-space);
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--background-color, #000028);
  margin: 0 auto;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* common styles */

.full-size-block {
  min-block-size: 100vh;
}

.decorated-zone {
  padding: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inset-block-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  border-inline-end: 1px solid var(--button-color, #ff0070);
  border-block-start: 1px solid var(--button-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inset-block-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  border-inline-start: 1px solid var(--button-color, #ff0070);
  border-block-end: 1px solid var(--button-color, #ff0070);
}

.slogo-decoration {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--slogo-text-color, #d800ff);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-text-color);
  font-weight: 700;
}

/* head */

.header__decorated {
  position: absolute;
  inset-inline-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  inset-block-start: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}

.header__decorated::after {
  content: "REC";
  position: absolute;
  color: var(--button-color, #ff0070);
  inset-inline-end: 28px;
}

.header__decorated::before {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--button-color, #ff0070);
  inset-inline-end: 9px;
  inset-block-start: 8px;
  box-shadow: 0 0 10px 3px var(--button-color);
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
  grid-template-areas:
    "header-nav header-nav"
    "header-title header-title"
    "header-subtitle header-subtitle";
}

.header__theme-menu {
  grid-area: header-nav;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: inherit;
  text-transform: lowercase;
  color: var(--button-color, #ff0070);
  background-color: transparent;
  border: none;
  padding-inline: 13px;
  line-height: 100%;
  cursor: pointer;
  border: 1px solid transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color, #ff0070);
}

.header__title {
  grid-area: header-title;
  text-shadow: 4px 4px 0 var(--slogo-text-shadow-color, #ff0070);
}

.header__subtitle {
  grid-area: header-subtitle;
}

.title-slim {
  font-weight: 400;
}

/* content */

.content {
  padding-inline: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  margin-block: clamp(2.5rem, 5.089vw + 1.307rem, 3.75rem);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section-inline,
.content__section-block {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(auto-fit, minmax(min-content max-content));
  grid-template-areas:
    "content-title"
    "content-list";
  gap: 20px;
}

.content__section-title {
  color: var(--section-title-text-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  grid-area: content-title;
}

.content__card-title {
  font-size: 18px;
}

.content__card-text {
  margin-block-start: 10px;
}

.content__card-list {
  grid-area: content-list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(min-content max-content));
  gap: 20px;
}

.link-decorated {
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  text-decoration: none;
  border-block-end: 1px solid transparent;
}

.link-decorated:hover {
  border-block-end: 1px solid var(--text-color);
}

.link-decorated:focus {
  outline: none;
}

.link-decorated:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 0px;
  border-block-end: 1px solid transparent;
}

/* gallery */

.gallery-margin {
  margin-block-start: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    "img-sunset"
    "img-ice-cream"
    "img-tape"
    "img-books"
    "img-street";
  gap: 10px;
}

.gallery__img {
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.gallery__img-sunset {
  grid-area: img-sunset;
}

.gallery__img-ice-cream {
  grid-area: img-ice-cream;
}

.gallery__img-tape {
  grid-area: img-tape;
}

.gallery__img-books {
  grid-area: img-books;
}

.gallery__img-street {
  grid-area: img-street;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--slogo-text-shadow-color, #ff0070);
}

@media (width >= 768px) {
  .header {
    grid-template-areas:
      "header-nav header-nav"
      "header-title header-title"
      ". header-subtitle";
  }

  .header__title {
    transform: translate(-20px);
  }

  .content {
    gap: 80px;
  }

  .content__section-inline,
  .content__section-block {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 71px min-content;
  }

  .content__section-inline {
    grid-template-areas:
      "content-title content-list"
      "content-title content-list";
  }

  .content__section-block {
    grid-template-areas:
      "content-title ."
      "content-list content-list";
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "img-sunset img-sunset img-ice-cream"
      "img-tape img-books img-ice-cream"
      "img-tape img-street img-street";
    gap: 20px;
  }

  .gallery-margin {
    margin-block-start: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__section-inline,
  .content__section-block {
    grid-template-columns: 315px 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  .card-inline {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
